# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack
.DS_Store
.history
.nvmrc
.env
.dynamodb
.idea/
coverage/
crud.http
rax-io-demo.iml
swagger/
